<h1>thêm Custommer </h1>
<form action="/add" method="POST">
    LatLong: <input type="text" name="phone"><br>
    Role: <input type="text" name="password"><br>
    OpenHour: <input type="text" name="typeRegister"><br>
    DefaultAccount: <input type="text" name="defaultAccount"><br>
    TokenLogin: <input type="text" name="tokenLogin"><br>
    FcmTokens: <input type="text" name="fcmTokens"><br>
    <button type="submit" >thêm Custommer</button> 
</form>